clouds/nube_450_km/data
clouds/nube_450_km/output

clouds/nube_800_km/data
clouds/nube_800_km/output

clouds/nube_1200_km/data
clouds/nube_1200_km/output

clouds/nube_1800_km/data
clouds/nube_1800_km/output

